<% provide(:title, "Services") %>

<div class="heading">
  <div class="line"></div>
  <h2 class="center">Services</h2>
  <div class="line"></div>
</div>

<div class="services-wrapper">
  <h3 id="employment">Employment Law</h3>
  <p>Do not let your employer take advantage of you. Whether you have not received your unpaid wages, wrongfully terminated, discriminated or sexually harassed, Law Office of William Sung and its co-counsel are experienced in identifying and litigating employment issues of every kind. If you believe you have an employment concern from a current or previous employer, schedule a free consultation so that you may avoid missing the deadline to file your legal claim.</p>
  <h3 id="personal-injury">Personal Injury</h3>
  <p>If you were involved in an automotive accident or were injured from someone else’s negligence, Law office of William Sung will provide superior legal services to recover for your bodily and economic injuries. We have successfully recovered millions of dollars to compensate our injured clients and their families. We will work to assert your legal rights to recover a fair and reasonable compensation for your case.</p>
  <h3 id="family-law">Family Law</h3>
  <p>Family Law is a deeply emotional conflict between two loved ones. Law Office of William Sung is committed to help you navigate the complexities of the legal system and assist you in the quick resolution of your Legal separation or divorce. Services include: Legal separation, divorce, child support modification, guardianship, and conservatorship.</p>
  <h3 id="immigration">Immigration</h3>
  <p>The Law Office of William Sung is equipped to assist you in obtaining your status as a Lawful Permanent Resident (Green Card) and eventual naturalization through family based petitions. Our office can take you through the process with clear step-by-step instructions so that you are not overwhelmed by complex immigration procedures.</p>
  <h3 id="estate-planning">Estate Planning</h3>
  <p>Peace of mind for the future is priceless. Everyone is encouraged to protect their assets and make plans for future generations. Law Office of William Sung can provide affordable estate planning packages to meet your individual goals. Planning documents may include: Wills, revocable trusts, irrevocable trusts durable powers of attorney, and advance health directives.</p>
  <h3 id="bankruptcy">Bankruptcy</h3>
  <p>The Law Office of William Sung will assist you in managing your debt so that you can meet your short term and long-term financial goals. Bankruptcy is not appropriate for every situation however our team is ready to assist you in creating an effective plan to get you back on track. If declaring Chapter 7 Bankruptcy is the best course of action, our staff will assist you in obtaining a quick resolution of your bankruptcy application.</p>
</div>