<% provide(:title, "Home") %>

<section id="masthead">
  <div class="logo-div">
    <%= image_tag('logo.png', class: "logo-img") %>
    <h1>Welcome Home Will</h1>
  </div>
</section>

<section id="about">
  <div class="profile">
    <div class="line"></div>
    <%= image_tag('headshot.jpg', class: "headshot") %>
    <div class="line"></div>
  </div>
  <h2>I am Will lol</h2>
  <p>William Sung is a litigator with extensive experience representing plaintiffs in civil litigation. He received his Juris Doctorate from Thomas Jefferson School of Law in San Diego, California. During law school, he received CALI awards for receiving the top grade in Civil Procedures and mediation ethics. After his admittance to the State Bar of California, he honed his legal skills litigating employment, personal injury, and product liability cases. He is committed to provide quality legal services and uphold the integrity of the law. He works closely with his clients and is equipped with a solid understanding of common law and statutes, which resulted in the successful recovery of over $5 million dollars to date. Mr. Sung enjoys working with clients from various upbringings. He lived in Taiwan for many years and is proficient in Mandarin Chinese. He understands and is able to navigate the nuances from different social, economic, and ethnic backgrounds.</p>
</section>


<div id="googleMap"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdKzsBfYKmGDcpT9FOcWRrSNy4h9D94fU"></script>
<script>
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
