<% provide(:title, "Will's Blog") %>

<div class="posts-wrapper">
  <% if @posts.count == 0 %>
    <h1>Check back soon!!</h1>
  <% else %>
    <div class="heading">
      <div class="line"></div>
      <h2 class="center">Musings</h2>
      <div class="line"></div>
    </div>
    <% @posts.each do |post| %>
      <p><%= post.created_at.strftime('%A, %B %d') %></p>
      <h3><%= link_to post.title, post %></h3>
      <hr>
    <% end %>
  <% end %>
</div>
