<% provide(:title, "Will's Blog") %>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>

<% if @posts.count == 0 %>
  <h2>Nothing here!</h2>
<% else %>
  <h1>Posts here</h1>
  <% @posts.each do |post| %>
    <%= link_to post.title, post %><br>
    <%= post.created_at.strftime('%A, %B %d') %>
  <% end %>
<% end %>

