/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'colors';
@import "font-awesome";

// -----General-----

html, body {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


// -----Nav Bar-----

// desktop nav
#desktop-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

// mobile nav
#mobile-nav {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.mobile-menu{
	display: none;
	ul {
	  margin: 0;
	}
}
 
 
// Google Map
#googleMap {
  width: 400px;
  height: 400px;
}
