/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'colors';
@import 'clearfix';
@import "font-awesome";

// -----General-----

* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  height: 100%;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

section {
  margin: 0 auto;
}

.body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4.9rem;
}

.push {
  height: 4.9rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

ul {
	  margin: 0;
}

a {
  text-decoration: none;
  letter-spacing: .1em;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.active {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-family: 'Open Sans', sans-serif;
  color: $dark-color;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.275rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.1rem;
  line-height: 1.75;
  color: $dark-color;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  list-style: none;
  line-height: 1.75;
}


// -----Nav Bar-----

#main-navigation {
  // desktop nav
  #desktop-nav.frontpage-nav {
    background-color: rgba(0,0,0,0);
    a {
      color: white;
      text-transform: uppercase;
    }
    a:hover {
      color: $dark-color;
    }
  }
  #desktop-nav {
    background-color: $light-color;
    padding: 1.5rem 5%;
    .logo {
      float: left;
      border: solid 2px $border-color;
      padding: .5em 1.5em;
      text-transform: uppercase;
    }
    nav {
      float: right;
      padding-top: .7em;
      a {
        padding-left: 2em;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  // mobile nav
  #mobile-nav {
    display: none;
    background-color: $light-color;
    padding: 1rem;
    @media (max-width: 768px) {
      display: block;
    }
    .menu-btn {
      span {
      	display: block;
      	width: 19px;
      	height: 3px;
      	margin: 4px 0;
      	background-color: $dark-color;
      	z-index: 99;
      }
    }
    .mobile-menu{
      padding-top: .3rem;
    	display: none;
    	hr {
    	  margin: 1rem 0 .5rem;
    	  border: 1px solid $border-color;
    	}
    	ul {
    	  margin: 0;
        padding-top: .7rem;
        padding-left: 0;
    	}
    }
  }
}


// -----Footer-----

footer {
  padding: 1rem 5%;
  background-color: $dark-color;
  p {
    float: left;
    padding-top: .4rem;
    color: $light-color;
  }
  .footer-link {
    float: right;
    padding-top: .8rem;
    a {
      padding: 0 .5rem;
      color: $light-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}


// Flash message
@mixin flash-message {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 1.6rem 0;
  text-align: center;
  z-index: 999;
}

.alert-notice {
  @include flash-message;
  background-color: $notice-color;
  opacity: 0.5;
  .msg {
    color: white;
  }
}

.alert-alert {
  @include flash-message;
  background-color: $warning-color;
  opacity: 0.5;
  .msg {
    color: white;
  }
}


// Google Map
#googleMap {
  width: 400px;
  height: 400px;
}

// To Top button
.to-top {
  display: none;
  text-decoration: none;
  position: fixed;
  top: 80%;
  left: 90%;
  font-size: 1.3rem;
  padding: .5em;
  border: solid 1px $dark-color;
  background-color: $light-color;
}
