<footer class="clearfix">
  <p>Website by Dean Chuang, design input from Kedar Joyner</p>
  <div class="footer-link">
    <%= link_to "<i class='fa fa-linkedin'></i>".html_safe, "https://www.linkedin.com/in/william-sung-3832a061", target: "_blank" %>
    <%= link_to "<i class='fa fa-twitter'></i>".html_safe, "https://twitter.com/wyslegal", target: "_blank" %>
  </div>
</footer>