<footer class="clearfix">
  <p>Website created by</p>
  <div class="footer-link">
    <%= link_to "<i class='fa fa-facebook'></i>".html_safe, "https://facebook.com", target: "_blank" %>
    <%= link_to "<i class='fa fa-twitter'></i>".html_safe, "https://twitter.com", target: "_blank" %>
  </div>
</footer>