<footer>
  <p class="to-top">Back to top</p>
  <%= link_to "<i class='fa fa-facebook'></i>".html_safe, "https://facebook.com", target: "_blank" %>
  <%= link_to "<i class='fa fa-twitter'></i>".html_safe, "https://twitter.com", target: "_blank" %>
</footer>