<div id="mobile-nav">
  <div class="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="mobile-menu">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</div>